DISCORD_TOKEN = <token>
DATABASE_URL = mongodb+srv://<username>:<db_password>@<cluster_name>.zgsgbzx.mongodb.net/
LOG_GUILD_ID = <guildId>
LOG_CHANNEL_ID = <channelId>
LAVALINK_PORT = <node_port>
LAVALINK_HOST = <node_ip>
LAVALINK_PASS = <node_password>
LAVALINK_SECURE = <boolean>
