DISCORD_TOKEN = <token>
DATABASE_URL = mongodb+srv://<username>:<db_password>@<cluster_name>.zgsgbzx.mongodb.net/
LOG_GUILD_ID = <guildId>
LOG_CHANNEL_ID = <channelId>
LAVALINK_PORT = <port>
LAVALINK_HOST = <ip>
LAVALINK_PASS = <pass>
LAVALINK_SECURE = <boolean>